/* -------------------- IMPORTS -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/* -------------------- GENERAL -------------------- */

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: #74cffa;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-weight: 800;
}

h2{
    font-size: 1.2rem;
    color: black;
    margin: 8px 0;
}

p{
    color: rgb(99, 99, 99);
}

input{
    border: 2px solid #B954C9;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

textarea{
    border: 2px solid #B954C9;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.display-block{
    display: block !important;
}

.display-none{
    display: none !important;
}

/* -------------------- HEADER -------------------- */

header{
    padding: 35px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #B954C9;
    z-index: 10;
    background-color: white;
    position: sticky;
    top: 0;
    transition: all 0.6s;
}

.headerLogo{
    width: 70%;
}

.headerBarsMenuButton{
    background: none;
    border: none;
    font-size: 2.6rem;
    color: #B954C9;
}

/* -------------------- MAIN -------------------- */

.carouselHomeImage{
    height: 100%;
    object-fit: cover;
}

.carousel-item{
    height: 70vh;
}

.homeLink{
    background-color: white;
    padding: 10px 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    color: rgb(99, 99, 99);
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 10%;
}

.homeTitle{
    color: white;
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 2.5rem;
    text-align: left;
}

/* -------- TAREAS SECTION -------- */

.tareasSection{
    padding: 40px 20px 0;
}

.infoTareasContainer p{
    line-height: 2rem;
}

.tareasContainer{
    text-align: center;
    margin: 40px 0;
    color: rgb(99, 99, 99);
}

.tareasContainer ul{
    padding: 0;
    list-style: none;
}

.tareasIcon{
    color: #74cffa;
    font-size: 4rem;
}

/* -------- SOBRE MI SECTION -------- */

.sobreMiSection{
    padding: 40px 20px;
    background-color: rgb(245, 245, 245);
}

.sobreMiImagen{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border: 2px solid #B954C9;
    box-shadow: 0px 0px 10px;
}

.infoSobreMiContainer{
    margin: 20px 0;
}

.sobreMiButtonContainer{
    width: 100%;
    text-align: center;
}

.sobreMiButton{
    border: 2px solid #B954C9;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    color: rgb(99, 99, 99);
}

/* -------- EXPERIENCIA Y CLIENTES SECTION -------- */

.experienciaYClientesSection{
    padding: 40px 20px;
}

.infoClientesContainer h2{
    color: #B954C9;
    font-weight: 800;
}

.empresasYClientesLista{
    list-style: square;
    color: rgb(99, 99, 99);
}

.empresasYClientesLista li::marker{
    color: #74cffa;
}

.imagenClientes{
    margin: 40px 0;
    width: 100%;
    object-fit: cover;
    border: 2px solid #B954C9;
    box-shadow: 0px 0px 10px;
}

.numerosExperienciaContainer{
    text-align: center;
}

.infoNumerosExperienciaContainer{
    margin: 20px;
}

.infoNumerosExperienciaContainer h3{
    color: #74cffa;
    font-size: 3rem;
    font-weight: 800;
}

.infoNumerosExperienciaContainer p{
    color: #74cffa;
}

/* -------- CONTACTO SECTION -------- */

.contactoSection{
    padding: 40px 20px;
    background-color: rgb(245, 245, 245);
}

.submitButton{
    border: 2px solid #B954C9;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    margin-top: 15px;
}

/* -------------------- FOOTER -------------------- */

footer{
    border-top: 2px solid #B954C9;
    padding: 40px 10px 10px;
}

.footerSection{
    text-align: center;
    margin-bottom: 50px;
}

.footerTitleSection{
    color: #B954C9;
}

.footerList{
    list-style: none;
    padding: 0;
}

.footerList a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}

.footerIcon{
    color: #B954C9;
    font-size: 1.3rem;
}

.copyrightSection{
    text-align: center;
}

.copyrightSection a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

/* -------------------- MENU BARS -------------------- */

.menuBarsInterface{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70vh;
    background-color: #74cffacb;
    display: none;
    z-index: 100;
    backdrop-filter: blur(6px);
    padding: 30px 0;
}

.menuBarsInterface.display-none{
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.closeMenuBarsButtonContainer{
    text-align: right;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
}

.headerCloseBarsMenuButton{
    background: none;
    border: none;
}

.fa-right-from-bracket{
    color: white;
    font-size: 2.8rem;
}

.navbarLink{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 600;
}