/* -------------------- IMPORTS -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/* -------------------- GENERAL -------------------- */

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: #74cffa;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-weight: 800;
}

h2{
    font-size: 1.2rem;
    color: black;
    margin: 8px 0;
}

p{
    color: rgb(99, 99, 99);
}

input{
    border: 2px solid #B954C9;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

textarea{
    border: 2px solid #B954C9;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.display-block{
    display: block !important;
}

.display-none{
    display: none !important;
}

.display-flex{
    display: flex !important;
}

hr{
    width: 100%;
}

/* -------------------- HEADER -------------------- */

header{
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #B954C9;
    z-index: 10;
    background-color: white;
    position: sticky;
    top: 0;
    transition: all 0.6s;
}

.headerLogo{
    width: 70%;
}

.logo{
    width: 90px;
}

.headerBarsMenuButton{
    background: none;
    border: none;
    font-size: 2rem;
    color: #B954C9;
    width: 30%;
    text-align: right;
}

.headerNavbar{
    display: none;
}

/* -------------------- MAIN -------------------- */

.homeSection{
    height: 80vh;
}

#carouselExampleAutoplaying{
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

.carouselHomeImage{
    height: 100%;
    object-fit: cover;
}

.carousel-item{
    height: 100%;
}

.homeLink{
    background-color: white;
    padding: 10px 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    color: rgb(99, 99, 99);
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 10%;
}

.homeTitle{
    color: white;
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 2rem;
    text-align: left;
    animation: fadeIn 1.5s ease-in-out forwards;
}

/* -------- TAREAS SECTION -------- */

.tareasSection{
    padding: 40px 20px 0;
}

.infoTareasContainer p{
    line-height: 2rem;
}

.tareasContainer{
    text-align: center;
    margin: 40px 0;
    color: rgb(99, 99, 99);
}

.tareasContainer ul{
    padding: 0;
    list-style: none;
}

.tareasIcon{
    color: #74cffa;
    font-size: 4rem;
}

/* -------- SOBRE MI SECTION -------- */

.sobreMiSection{
    padding: 40px 20px;
    background-color: rgb(245, 245, 245);
}

.sobreMiImagen{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border: 2px solid #B954C9;
    box-shadow: 0px 0px 10px;
}

.infoSobreMiContainer{
    margin: 20px 0 0;
}

.sobreMiButtonContainer{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.sobreMiButton{
    border: 2px solid #B954C9;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    color: rgb(99, 99, 99);
    text-decoration: none;
}

/* -------- EXPERIENCIA Y CLIENTES SECTION -------- */

.experienciaYClientesSection{
    padding: 40px 20px;
}

.infoClientesContainer h2{
    color: #B954C9;
    font-weight: 800;
}

.empresasYClientesLista{
    list-style: square;
    color: rgb(99, 99, 99);
}

.empresasYClientesLista li::marker{
    color: #74cffa;
}

.imagenClientes{
    margin: 40px 0;
    width: 100%;
    object-fit: cover;
    border: 2px solid #B954C9;
    box-shadow: 0px 0px 10px;
}

.numerosExperienciaContainer{
    text-align: center;
}

.infoNumerosExperienciaContainer{
    margin: 20px;
}

.infoNumerosExperienciaContainer h3{
    color: #74cffa;
    font-size: 3rem;
    font-weight: 800;
}

.infoNumerosExperienciaContainer p{
    color: #74cffa;
}

/* -------- CONTACTO SECTION -------- */

.contactoSection{
    padding: 40px 20px;
    background-color: rgb(245, 245, 245);
}

.submitButton{
    border: 2px solid #B954C9;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    margin-top: 15px;
    transition: all 1s;
}

.submitButton:hover{
    background-color: rgb(235, 235, 235);
    transition: all 1s;
}

/* -------------------- FOOTER -------------------- */

footer{
    border-top: 2px solid #B954C9;
    padding: 40px 10px 10px;
}

.footerSection{
    text-align: center;
    margin-bottom: 50px;
}

.footerTitleSection{
    color: #B954C9;
}

.footerList{
    list-style: none;
    padding: 0;
}

.footerList a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}

.footerIcon{
    color: #B954C9;
    font-size: 1.3rem;
}

.copyrightSection{
    text-align: center;
}

.copyrightSection a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

/* -------------------- MENU BARS -------------------- */

.menuBarsInterface{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #b954c9d2;
    display: none;
    flex-direction: column;
    z-index: 100;
    backdrop-filter: blur(6px);
    padding: 30px 0;
    text-align: center;
    gap: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 0 3000px rgba(0,0,0,0.7);
}

.closeMenuBarsButtonContainer{
    text-align: center;
}

.headerCloseBarsMenuButton{
    background: none;
    border: none;
}

.fa-right-from-bracket{
    color: white;
    font-size: 1.5rem;
}

.navbarLink{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

/* -------------------- MEDIA QUERIES -------------------- */

/* -------------------- TABLET -------------------- */

@media (width >= 768px){
    /* GENERAL */

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    margin: 15px 0;
}

input{
    padding: 15px;
}

textarea{
    padding: 15px;
}

    /* HEADER */

header{
    border-bottom: 4px solid #B954C9;
}

.headerLogo{
    width: 70%;
}

.logo{
    width: 130px;
}

.headerBarsMenuButton{
    font-size: 2.5rem;
}

    /* MAIN */

.homeLink{
    padding: 10px 110px;
    font-size: 1.4rem;
}

.homeTitle{
    font-size: 3rem;
}

/* TAREAS SECTION */

.tareasSection{
    padding: 40px 40px 0;
}

.infoTareasContainer p{
    line-height: 2.2rem;
    font-size: 1.2rem;
}

.tareasIcon{
    font-size: 5rem;
}

.tareasItem{
    font-size: 1.2rem;
}

/* SOBRE MI SECTION */

.sobreMiSection{
    padding: 40px 40px;
}

.sobreMiSection h1{
    margin-bottom: 40px;
}

.sobreMiImagen{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border: 2px solid #B954C9;
}

.infoSobreMiContainer{
    margin: 40px 0 0;
    font-size: 1.2rem;
}

.sobreMiButton{
    padding: 15px;
    margin-top: 0;
}

/* EXPERIENCIA Y CLIENTES SECTION */

.experienciaYClientesSection{
    padding: 40px 40px;
}

.clientesContainer{
    display: flex;
    flex-wrap: wrap;
}

.infoClientesContainer{
    width: 50%;
}

.infoClientesContainer h2{
    font-size: 1.8rem;
    margin: 30px 0;
}

.empresasYClientesLista li{
    font-size: 1.3rem;
    margin: 10px 0;
}

.imagenClientesContainer{
    width: 50%;
}

.imagenClientes{
    margin: 40px 0;
    width: 100%;
    object-fit: cover;
    border: 2px solid #B954C9;
    box-shadow: 0px 0px 10px;
}

.numerosExperienciaContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0 30px;
}

.infoNumerosExperienciaContainer{
    width: 25%;
}

.infoNumerosExperienciaContainer h3{
    font-size: 3.4rem;
}

.infoNumerosExperienciaContainer p{
    font-size: 1.1rem;
}

/* CONTACTO SECTION */

.contactoSection{
    padding: 40px 40px;
}

.contactoSection p{
    font-size: 1.3rem;
}

.submitButton{
    padding: 15px;
}

/* FOOTER */

footer{
    border-top: 4px solid #B954C9;
    padding: 40px 30px 10px;
    display: flex;
    flex-wrap: wrap;
}

.footerSection{
    width: 50%;
    margin-bottom: 30px;
}

.footerTitleSection{
    font-size: 1.6rem;
}

.footerList li{
    margin: 10px 0;
}

.footerList li p{
    font-size: 1.1rem;
}

.footerList a{
    font-size: 1.1rem;
}

.footerIcon{
    font-size: 1.6rem;
}

.copyrightSection{
    width: 100%;
}

.copyrightSection p{
    font-size: 1.1rem;
}

/* MENU BARS */

.menuBarsInterface{
    padding: 40px 0;
    gap: 35px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.fa-right-from-bracket{
    font-size: 2rem;
}

.navbarLink{
    font-size: 1.5rem;
}
}

/* -------------------- 992 PX -------------------- */

@media (width >= 992px){
    /* GENERAL */

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 1.7rem;
}

input{
    padding: 20px;
}

textarea{
    padding: 20px;
}

    /* HEADER */

header{
    border-bottom: 6px solid #B954C9;
    display: flex;
    padding: 0;
}

.headerLogo{
    width: 30%;
}

.logo{
    width: 120px;
    padding: 20px;
}

.headerBarsMenuButton{
    display: none;
}

.headerNavbar{
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}

.headerNavbarLink{
    text-decoration: none;
    color: #B954C9;
    font-size: .9rem;
}

    /* MAIN */

.homeSection{
    height: 70vh;
}

.homeLink{
    font-size: 1rem;
}

.homeTitle{
    font-size: 2.5rem;
}

/* TAREAS SECTION */

.tareasSection{
    padding: 60px 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.tareasSection h1{
    width: 100%;
}

.infoTareasContainer p{
    line-height: 2.5rem;
    font-size: 1.7rem;
}

.tareasContainer{
    width: 300px;
    margin: 40px 40px;
}

.tareasItem{
    font-size: 1.3rem;
}

/* SOBRE MI SECTION */

.sobreMiSection{
    padding: 60px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sobreMiSection h1{
    margin-bottom: 60px;
    width: 100%;
}

.sobreMiImagenContainer{
    width: 47%;
}

.sobreMiImagen{
    border: 4px solid #B954C9;
}

.infoSobreMiContainer{
    width: 47%;
    margin: 0;
    font-size: 1.5rem;
}

.sobreMiButtonContainer{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

/* EXPERIENCIA Y CLIENTES SECTION */

.experienciaYClientesSection{
    padding: 60px 60px;
}

.clientesContainer{
    display: flex;
    flex-wrap: wrap;
}

.infoClientesContainer{
    width: 50%;
}

.infoClientesContainer h2{
    font-size: 2.2rem;
}

.empresasYClientesLista li{
    font-size: 1.5rem;
}

.infoNumerosExperienciaContainer h3{
    font-size: 3.7rem;
}

.infoNumerosExperienciaContainer p{
    font-size: 1.2rem;
}

/* CONTACTO SECTION */

.contactoSection{
    padding: 60px 60px;
}

.contactoSection p{
    font-size: 1.5rem;
}

.contactoForm{
    width: 70%;
    margin: auto;
}

.submitButton{
    padding: 15px;
}

/* FOOTER */

footer{
    border-top: 4px solid #B954C9;
    padding: 40px 30px 10px;
    display: flex;
    flex-wrap: wrap;
}

.footerSection{
    width: 50%;
    margin-bottom: 30px;
}

.footerTitleSection{
    font-size: 1.6rem;
}

.footerList li{
    margin: 10px 0;
}

.footerList li p{
    font-size: 1.1rem;
}

.footerList a{
    font-size: 1.1rem;
}

.footerIcon{
    font-size: 1.6rem;
}

.copyrightSection{
    width: 100%;
}

.copyrightSection p{
    font-size: 1rem;
}
}

/* -------------------- DESKTOP -------------------- */

@media (width >= 1200px){
    /* GENERAL */

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.2rem;
}

input{
    padding: 5px;
}

textarea{
    padding: 5px;
}

    /* HEADER */

    header{
        padding: 0;
    }

    .logo{
        width: 130px;
    }

.headerNavbarLink{
    font-size: 1rem;
}

    /* MAIN */

.homeLink{
    font-size: 1rem;
}

.homeTitle{
    font-size: 3rem;
}

/* TAREAS SECTION */

.infoTareasContainer p{
    line-height: 2rem;
    font-size: 1rem;
}

.tareasContainer{
    width: 300px;
    margin: 40px 40px;
}

.tareasIcon{
    font-size: 3rem;
}

.tareasItem{
    font-size: 1rem;
}

/* SOBRE MI SECTION */

.sobreMiImagenContainer{
    width: 35%;
}

.sobreMiImagen{
    border: 2px solid #B954C9;
}

.infoSobreMiContainer{
    width: 65%;
    padding: 0 0 0 50px;
    font-size: 1rem;
    line-height: 2rem;
}

/* EXPERIENCIA Y CLIENTES SECTION */

.infoClientesContainer h2{
    font-size: 2rem;
}

.infoNumerosExperienciaContainer h3{
    font-size: 3.5rem;
}

.infoNumerosExperienciaContainer p{
    font-size: 1rem;
}

.numerosExperienciaContainer{
    margin: 0;
}

/* CONTACTO SECTION */

.contactoSection{
    display: flex;
    flex-wrap: wrap;
}

.contactoSection h1{
    width: 100%;
}

.contactoSection p{
    font-size: 1rem;
    width: 50%;
    padding: 0 50px;
}

.contactoForm{
    width: 50%;
    font-size: 0.8rem;
}

.submitButton{
    padding: 5px;
}

/* FOOTER */

footer{
    padding: 20px 30px 5px;
}

.footerSection{
    width: 50%;
    margin-bottom: 0;
}

.footerTitleSection{
    font-size: 1.2rem;
}

.footerList li{
    margin: 10px 0;
}

.footerList li p{
    font-size: 0.8rem;
}

.footerList a{
    font-size: 0.8rem;
}

.footerIcon{
    font-size: 1.3rem;
}

.copyrightSection p{
    font-size: 0.8rem;
}
}

/* -------------------- KEYFRAMES -------------------- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}