<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "SW Asistencia Virtual"}) %>
</head>
<body>
    <!-- ********************** HEADER ********************** -->
    <header>
        <h1>LOGO</h1>
        <button class="headerBarsMenuButton">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>
    <!-- ********************** END HEADER ********************** -->

    <!-- ********************** MAIN ********************** -->
    <main>
        <!-- HOME SECTION -->
        <section id="home" class="homeSection">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1 class="homeTitle">¿Qué tareas realizo?</h1>
                        <a class="homeLink" href="#tareas">Mis tareas</a>
                        <img src="/img/asistente1.png" class="d-block w-100 carouselHomeImage" alt="...">
                    </div>
                    <div class="carousel-item">
                        <h1 class="homeTitle">Sobre SW Asistencia Virtual</h1>
                        <a class="homeLink" href="#sobreMi">Sobre mi</a>
                        <img src="/img/asistente2.png" class="d-block w-100 carouselHomeImage" alt="...">
                    </div>
                    <div class="carousel-item">
                        <h1 class="homeTitle">Amplia experiencia con clientes</h1>
                        <a class="homeLink" href="#experienciaYClientes">Mis clientes</a>
                        <img src="/img/asistente3.png" class="d-block w-100 carouselHomeImage" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </section>
        <!-- END HOME SECTION -->

        <!-- TAREAS SECTION -->
        <section id="tareas" class="tareasSection">
            <h1>TAREAS QUE REALIZO</h1>
            <div class="infoTareasContainer">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci atque fugiat iste dicta tempore, animi sint explicabo porro expedita repudiandae cumque veniam ipsam dolores eum doloribus quae quaerat ipsum perspiciatis.
                    Unde quo labore asperiores perspiciatis? Nobis ea quam modi odit, itaque corporis expedita, consequuntur illo sunt praesentium excepturi molestias dolorum autem quibusdam iusto quis magni accusamus eum, animi odio saepe?
                    Libero repellendus repellat minima dolorum laudantium ipsa nemo esse cupiditate obcaecati atque accusamus, quisquam perspiciatis. Fugiat ea modi culpa a voluptates assumenda officia ullam deserunt. Culpa animi nesciunt corrupti totam.
                </p>
            </div>

            <div class="tareasContainer">
                <i class="fa-solid fa-paperclip tareasIcon"></i>
                <h2>TAREAS GENERALES</h2>
                <ul>
                    <li class="tareasItem">- Atención al cliente y proveedores</li>
                    <li class="tareasItem">- Contacto via mail</li>
                    <li class="tareasItem">- Contacto telefónico</li>
                    <li class="tareasItem">- Redes sociales</li>
                    <li class="tareasItem">- Data entry</li>
                    <li class="tareasItem">- Carga y procesamiento de datos</li>
                    <li class="tareasItem">- Generación de informes</li>
                </ul>
            </div>

            <div class="tareasContainer">
                <i class="fa-solid fa-money-bill tareasIcon"></i>
                <h2>COBRANZAS</h2>
                <ul>
                    <li class="tareasItem">- Reclamos</li>
                    <li class="tareasItem">- Coordinación de cobradores</li>
                    <li class="tareasItem">- Verificación y emisión de recibos</li>
                    <li class="tareasItem">- Envio de comprobantes</li>
                </ul>
            </div>

            <div class="tareasContainer">
                <i class="fa-solid fa-building-columns tareasIcon"></i>
                <h2>BANCOS</h2>
                <ul>
                    <li class="tareasItem">- Control de débitos y créditos</li>
                    <li class="tareasItem">- Control de ingresos de cupones de tarjetas</li>
                    <li class="tareasItem">- Conciliación bancaria</li>
                </ul>
            </div>
        </section>
        <!-- END TAREAS SECTION -->

        <!-- SOBRE MI SECTION -->
        <section id="sobreMi" class="sobreMiSection">
            <h1>SOBRE MI</h1>

            <div class="sobreMiImagenContainer">
                <img class="sobreMiImagen" src="/img/silvia.jpg" alt="">
            </div>

            <div class="infoSobreMiContainer">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil molestiae earum atque laborum illum exercitationem quaerat iusto aliquam, officia beatae, est fugiat doloremque optio sit quibusdam amet, rerum nisi!
                Vitae similique tenetur possimus quibusdam? Possimus consectetur delectus labore voluptate natus. Reiciendis distinctio cumque odio alias, et, aliquid laudantium neque recusandae quae sed impedit voluptatem possimus vitae molestiae doloremque dolor.
                Quia quis temporibus repudiandae beatae perferendis cum ullam. Similique delectus tempore nesciunt voluptatem aliquam, officia fugiat nulla! Aspernatur commodi nemo quam facilis. Unde, beatae incidunt? Asperiores id quibusdam minima voluptates.</p>
            </div>

            <div class="sobreMiButtonContainer">
                <button class="sobreMiButton">
                    Descarga mi CV!
                </button>
            </div>
        </section>
        <!-- END SOBRE MI SECTION -->

        <!-- EXPERIENCIA Y CLIENTES SECTION -->
        <section id="experienciaYClientes" class="experienciaYClientesSection">
            <h1>EXPERIENCIA Y CLIENTES</h1>

            <div class="clientesContainer">
                <div class="infoClientesContainer">
                    <h2>Clientes y empresas</h2>
                    <ul class="empresasYClientesLista">
                        <li>Catrius</li>
                        <li>Moretti Servicios S.R.L.</li>
                        <li>Ferrari Merchandising</li>
                        <li>Italia 2011 S.A.</li>
                        <li>Arg2com S.R.L.</li>
                        <li>Andres Moretti e Hijos S.A.</li>
                        <li>Gem 3</li>
                    </ul>
                </div>

                <div class="imagenClientesContainer">
                    <img class="imagenClientes" src="/img/clientes.png" alt="">
                </div>
            </div>

            <div class="numerosExperienciaContainer">
                <div class="infoNumerosExperienciaContainer">
                    <h3>+22</h3>
                    <p>Años trabajando en empresas</p>
                </div>
                <div class="infoNumerosExperienciaContainer">
                    <h3>+14</h3>
                    <p>Años de trabajo remoto como A.V.</p>
                </div>
                <div class="infoNumerosExperienciaContainer">
                    <h3>100%</h3>
                    <p>Clientes satisfechos</p>
                </div>
            </div>
        </section>
        <!-- END EXPERIENCIA Y CLIENTES SECTION -->

        <!-- CONTACTO SECTION -->
        <section id="contacto" class="contactoSection">
            <h1>CONTACTO</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore recusandae quo iusto pariatur dolor dolorum sequi, itaque placeat dolores aut cumque laborum qui consequuntur sit, nisi numquam cupiditate harum facilis.</p>

            <form action="">
                <label for="nombre"></label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre completo" minlength="3" maxlength="30">

                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="Email" minlength="7" maxlength="60">

                <label for="mensaje"></label>
                <textarea name="mensaje" id="mensaje" cols="30" rows="10" maxlength="300" placeholder="Escribe tu mensaje"></textarea>

                <button class="submitButton" type="submit">Enviar</button>
            </form>
        </section>
        <!-- CONTACTO SECTION -->
    </main>
    <!-- ********************** END MAIN ********************** -->

    <!-- ********************** FOOTER ********************** -->
    <footer>
        <section class="footerSection">
            <h4 class="footerTitleSection">Conoceme</h4>
            <ul class="footerList">
                <li><a href="#sobreMi">¿Quién soy?</a></li>
                <li><a href="#experienciaYClientes">Mi experiencia y clientes</a></li>
                <li><a href="#contacto">Enviame un mensaje!</a></li>
            </ul>
        </section>

        <section class="footerSection">
            <h4 class="footerTitleSection">Datos de contacto</h4>
            <ul class="footerList">
                <li>
                    <i class="fa-regular fa-envelope footerIcon"></i>
                    <p>silviamwaimann@gmail.com</p>
                </li>
                <li>
                    <i class="fa-solid fa-mobile-screen-button footerIcon"></i>
                    <p>+54-9-1159391818</p>
                </li>
            </ul>
        </section>

        <hr>

        <section class="copyrightSection">
            <p>© Copyright SW Asistencia Virtual 2024. Todos los derechos reservados.</p>
            <p>Desarrollado por <a href="#">Leandro Heffes</a></p>
        </section>
    </footer>
    <!-- ********************** END FOOTER ********************** -->

    <!-- ********************** MENU BARS ********************** -->
    <%- include("partials/barsMenuInterface") %>
    <!-- ********************** END MENU BARS ********************** -->
</body>
</html>