<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "SW Asistencia Virtual"}) %>
</head>
<body>
    <header>
        <div class="headerLogoContainer">
            <img src="/img/logo-sw-asistencia-virtual.png" alt="">
        </div>
    </header>
</body>
</html>