<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "SW Asistencia Virtual"}) %>
</head>
<body>
    <!-- ********************** HEADER ********************** -->
    <header>
        <h1>LOGO</h1>
        <button class="headerBarsMenuButton headerCloseBarsMenuButton">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>
    <!-- ********************** END HEADER ********************** -->

    <!-- ********************** MAIN ********************** -->
    <main>
        <!-- HOME SECTION -->
        <section id="home" class="homeSection">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/asistente1.jpg" class="d-block w-100 carouselHomeImage" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/asistente2.jpg" class="d-block w-100 carouselHomeImage" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/asistente3.jpg" class="d-block w-100 carouselHomeImage" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </section>
        <!-- END HOME SECTION -->

        <!-- TAREAS SECTION -->
        <section id="tareas" class="tareasSection">
            <h1>TAREAS QUE REALIZO</h1>
            <div class="infoTareasContainer">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci atque fugiat iste dicta tempore, animi sint explicabo porro expedita repudiandae cumque veniam ipsam dolores eum doloribus quae quaerat ipsum perspiciatis.
                    Unde quo labore asperiores perspiciatis? Nobis ea quam modi odit, itaque corporis expedita, consequuntur illo sunt praesentium excepturi molestias dolorum autem quibusdam iusto quis magni accusamus eum, animi odio saepe?
                    Libero repellendus repellat minima dolorum laudantium ipsa nemo esse cupiditate obcaecati atque accusamus, quisquam perspiciatis. Fugiat ea modi culpa a voluptates assumenda officia ullam deserunt. Culpa animi nesciunt corrupti totam.
                </p>
            </div>

            <div class="tareasContainer">
                <i class="fa-solid fa-paperclip tareasIcon"></i>
                <h2>TAREAS GENERALES</h2>
                <ul>
                    <li>- Atención al cliente y proveedores</li>
                    <li>- Contacto via mail</li>
                    <li>- Contacto telefónico</li>
                    <li>- Redes sociales</li>
                    <li>- Data entry</li>
                    <li>- Carga y procesamiento de datos</li>
                    <li>- Generación de informes</li>
                </ul>
            </div>

            <div class="tareasContainer">
                <i class="fa-solid fa-money-bill tareasIcon"></i>
                <h2>COBRANZAS</h2>
                <ul>
                    <li>- Reclamos</li>
                    <li>- Coordinación de cobradores</li>
                    <li>- Verificación y emisión de recibos</li>
                    <li>- Envio de comprobantes</li>
                </ul>
            </div>

            <div class="tareasContainer">
                <i class="fa-solid fa-building-columns tareasIcon"></i>
                <h2>BANCOS</h2>
                <ul>
                    <li>- Control de débitos y créditos</li>
                    <li>- Control de ingresos de cupones de tarjetas</li>
                    <li>- Conciliación bancaria</li>
                </ul>
            </div>
        </section>
        <!-- END TAREAS SECTION -->

        <!-- SOBRE MI SECTION -->
        <section id="sobreMi" class="sobreMiSection">
            <h1>SOBRE MI</h1>

            <div class="sobreMiImagenContainer">
                <img class="sobreMiImagen" src="/img/silvia.jpg" alt="">
            </div>

            <div class="infoSobreMiContainer">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil molestiae earum atque laborum illum exercitationem quaerat iusto aliquam, officia beatae, est fugiat doloremque optio sit quibusdam amet, rerum nisi!
                Vitae similique tenetur possimus quibusdam? Possimus consectetur delectus labore voluptate natus. Reiciendis distinctio cumque odio alias, et, aliquid laudantium neque recusandae quae sed impedit voluptatem possimus vitae molestiae doloremque dolor.
                Quia quis temporibus repudiandae beatae perferendis cum ullam. Similique delectus tempore nesciunt voluptatem aliquam, officia fugiat nulla! Aspernatur commodi nemo quam facilis. Unde, beatae incidunt? Asperiores id quibusdam minima voluptates.</p>
            </div>

            <div class="sobreMiButtonContainer">
                <button class="sobreMiButton">
                    Descarga mi CV!
                </button>
            </div>
        </section>
        <!-- END SOBRE MI SECTION -->

        <!-- EXPERIENCIA Y CLIENTES SECTION -->
        <section id="experienciaYClientes" class="experienciaYClientesSection">
            <h1>EXPERIENCIA Y CLIENTES</h1>

            <div class="clientesContainer">
                <div class="infoClientesContainer">
                    <h2>Clientes y empresas</h2>
                    <ul class="empresasYClientesLista">
                        <li>Catrius</li>
                        <li>Moretti Servicios S.R.L.</li>
                        <li>Ferrari Merchandising</li>
                        <li>Italia 2011 S.A.</li>
                        <li>Arg2com S.R.L.</li>
                        <li>Andres Moretti e Hijos S.A.</li>
                        <li>Gem 3</li>
                    </ul>
                </div>
                <div class="imagenClientesContainer">
                    <img class="imagenClientes" src="/img/clientes.png" alt="">
                </div>
            </div>

            <div class="numerosExperienciaContainer">
                <div class="infoNumerosExperienciaContainer">
                    <h3>+22</h3>
                    <p>Años trabajando en empresas</p>
                </div>
                <div class="infoNumerosExperienciaContainer">
                    <h3>+14</h3>
                    <p>Años de trabajo remoto como A.V.</p>
                </div>
                <div class="infoNumerosExperienciaContainer">
                    <h3>100%</h3>
                    <p>Clientes satisfechos</p>
                </div>
            </div>
        </section>
        <!-- END EXPERIENCIA Y CLIENTES SECTION -->
    </main>
    <!-- ********************** END MAIN ********************** -->
</body>
</html>