<nav class="menuBarsInterface">
    <a class="navbarLink" href="#home">
        <i class="fa-solid fa-house"></i>
        Inicio
    </a>
    <a class="navbarLink" href="#tareas">
        <i class="fa-solid fa-paperclip"></i>
        Mis tareas
    </a>
    <a class="navbarLink" href="#sobreMi">
        <i class="fa-solid fa-user"></i>
        Sobre mi
    </a>
    <a class="navbarLink" href="#experienciaYClientes">
        <i class="fa-solid fa-briefcase"></i>
        Mi experiencia y clientes
    </a>
    <a class="navbarLink" href="#contacto">
        <i class="fa-solid fa-envelope"></i>
        Contacto
    </a>
    <div class="closeMenuBarsButtonContainer">
        <button class="headerCloseBarsMenuButton">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>
</nav>