<nav class="headerNavbar">
    <a class="headerNavbarLink" href="#home">Inicio</a>
    <a class="headerNavbarLink" href="#tareas">Mis tareas</a>
    <a class="headerNavbarLink" href="#sobreMi">Sobre mi</a>
    <a class="headerNavbarLink" href="#experienciaYClientes">Experiencia y clientes</a>
    <a class="headerNavbarLink" href="#contacto">Contacto</a>
</nav>